.context-container{
    display: flex;
    width: 90%;
    justify-content: center;
    border: 1px solid gray;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
}
.context-style{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.context-style button{
    padding: 1rem;
    border-radius: 60%;
    margin: 1rem;
    cursor: pointer;
}